:root {
   /* Текстові кольори */
--main-txt-color: #757575;
--header-color: #212121;
--accent-color: #2196F3;
--txt-color: #FFFFFF;
--add-color: rgba(255, 255, 255, 0.6);

/* Фонові кольри */
--main-bg-color: #FFFFFF;
--section-bg-color: #2F303A;
--add-bg-color: #F5F4FA;

/* Інше */
}


/* Стилі для index.html */
body {
    color: var(--main-txt-color);
    background-color: var(--main-bg-color);
    font-family: 'Roboto';
        font-size: 14px;
        line-height: calc(24/14);   
        letter-spacing: 0.03em;
}

/* Шапка */
.section-header {
   
    padding-top: 0;
    padding-bottom: 0;
    border: 1px solid #ECECEC;

}

.header-box {
    display: flex;
    width: 1200px;
        padding-right: 15px;
        padding-left: 15px;


}



.link-header {
    color: black;
    text-decoration: none;
    font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: calc(31/26);  
        letter-spacing: 0.03em;
}
.logo {
    color: var(--accent-color);
    margin-top: 0;
        margin-bottom: 0;
    
}

/* Навігація */

.link-header {
margin-right: 93px;
padding-top: 24px;
    padding-bottom: 25px;
}



.current {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    

}
.nav {
    margin-right: auto;

    
}

.nav-item {
    align-items: baseline;
}

.nav-list {
    display: flex;
    gap: 50px;
    
}

.list {
    padding: 0;
    margin: 0;

}

.list-contacts {
    display: flex;    
    align-items: center;
    gap: 50px;
    
}

.nav .current .link {
    color: var(--header-color);
    font-weight: 500;
    padding-top: 32px;
    padding-bottom: 32px;
    display: inline-block;
    align-items: baseline;

}
.nav .link:hover,
.nav .link:focus {
    color: var(--accent-color);
    
}


.contacts .link-mail:hover,
.contacts .link:focus {
    color: var(--accent-color);
}
.link-mail {
    color: var(--main-txt-color);
    text-decoration: none;
    font-weight: 500;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
}

.link-tel:hover {
    color: var(--accent-color);
}

.link-tel {
    color: var(--main-txt-color);
    font-weight: 500;
        line-height: calc(16/14);
        letter-spacing: 0.02em;
        text-decoration: none;
}

ul {
    list-style: none;
    margin-top: 0;
        margin-bottom: 0;
}


/* Hero */
.section-hero {
    
    margin-top: 0;
    margin-bottom: 0;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
        font-weight: 900;
        font-size: 44px;
        line-height: calc(60/44);
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--txt-color);
        margin-right: auto;
            margin-left: auto;
            width: 696px;
            text-align: center;

}

.section-hero, 
.section-footer {
    background-color: var(--section-bg-color);
    color: var(--txt-color);
}

.button{
    background-color: var(--accent-color);
    color: var(--txt-color);
    font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: calc(30/16);   
        letter-spacing: 0.06em;
        cursor: pointer;
        border-radius: 4px;
        padding: 10px 32px;
        text-align: center;
        border: 1px solid transparent;
        display: block;
        margin-right: auto;
        margin-left: auto;
}

/* Feature */
.section-feature {
    outline: 2px solid tomato;
    margin-top: 0;
    margin-bottom: 0;
}

.feature-list {
    padding: 0;
    margin: 0;
    display: flex;
}

.features {
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16/14);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--header-color);
        margin-top: 0;
        margin-bottom: 0;
}

.title {
        font-weight: 700;
        font-size: 36px;
        line-height: calc(42/36);
        letter-spacing: 0.03em;
        color: var(--header-color);
        margin-top: 0;
            margin-bottom: 0;

}

.subtitle {
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;

}

/* Чим ми займаємося */

.work-list {
    display: flex;
        
        
}

.section-work {
    outline: 2px solid green;
    margin-top: 0;
    margin-bottom: 0;
    
}

/* Наша команда */
.section-about {
    background-color: var(--add-bg-color);
    outline: 2px solid tomato;
    margin-top: 0;
    margin-bottom: 0;
} 

.container-team {
    justify-content: space-evenly;
}

.team {
        font-weight: 500;
        font-size: 16px;
        line-height: calc(19/16);
        letter-spacing: 0.03em;
        color: var(--header-color);
        
}

.team-img {
margin-bottom: 10px;

}

.team-subtitle {
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 0.03em;
    margin-top: 0;
        margin-bottom: 0;
}



.link {
    text-decoration: none;
}

/* Підвал */
.footer {
    margin-top: 0;
        margin-bottom: 0;
}

.footer-link {
    font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: calc(31/26);       
        letter-spacing: 0.03em;
        color: var(--txt-color);
        text-decoration: none;
}

.link-footer:hover,
.link-footer:focus {
    color: var(--accent-color);
    text-decoration: none;
}

.link-footer {
    color: var(--add-color);
    text-decoration: none;
}


address {
    font-style: normal;
}

.section {
padding-top: 94px;
padding-bottom: 94px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Стилі для portfolio.html */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.flex-item {
    display: block;
}

.buttons {
    display: flex;
    margin-bottom: 56px;
    justify-content: center;
    

}
.buttons .c-buttons: last-child {
    margin-right: 0px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
   
}

.flex-item {
    width: 370px;   
}

.flex-item :nth-child(3n) {
    margin-right: 0px;
}


.c-button {
    display: inline-block;
background-color : var(--add-bg-color);
color: var(--header-color);
font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    letter-spacing: 0.03em;
cursor: pointer;
border-radius: 4px;
padding: 6px 22px;
min-width: 73px;
text-align: center;
border: 1px solid transparent;
margin-right: 30px;
}

.description {
    width: 370px;
border: 1px solid #ECECEC;
padding-top: 20px;
padding-right: 24px;
padding-bottom: 20px;
padding-left: 24px;

}


.c-button:hover,
.c-button:focus {
background-color: var(--accent-color);
color: var(--txt-color);
}

.pr-title {
    color: var(--header-color);
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
}

.subtext {
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.03em;
}

.section-project {

}

.container {
width: 1200px;
margin-right: auto;
margin-left: auto;
padding-right: 15px;
padding-left: 15px;

}


    

   
